*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: blanchedalmond;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#tileDisplay {
  position: absolute;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tileDisplay > img {
  height: 100%;
  width: auto;
}
